<div class="container rounded" id="searchBox">

    <div class="row justify-content-center">
        <div class=" col-12 col-md-10 col-lg-8">
            <form class="card card-sm boarderRad" id="searchForm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <img class="ml-1 mr-2" src="/icon/glass3.png"alt="glass">
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" id="courseName" type="search" placeholder="Course Name">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <a class="btn btn-success btn-lg ml-2" id="searchButton" role="button">Search</a>
                    </div>

                    <!--end of col-->
                </div>
                <span id="errorMessage" class="text-center mb-4">
              Example: CSC309 (department + courseNumber)</span>
            </form>
        </div>
        <!--end of col-->
    </div>
</div>